{% include 'partials/head.html' %}

<body>
    {% include 'partials/header.html' %}

 <form action="{% url 'Vitor.net:home' %}" method='POST' enctype="multipart/form-data" >
    {% csrf_token %}
 <div class="post">
    <div class="profile_user">
       
        <img class='user_picture' src="{{conta.picture.url}}" alt="">
        
    </div>
    <div class="post_text">

        <div class="user_name">{{conta.username}} </div>
        <textarea class='new_post_text' placeholder='Digite seu novo post'></textarea>

</div>
<div></div>
    <div>
        <img id="image_preview" src="#" alt="Pré-visualização da Imagem"/>
    </div>
<div></div>
    <div class='buttons'> 
        <input onchange="previewImage(event)" type="file" class='media_button 'name="image_button" id="image_button">
       <button type="submit" class='media_button new_post_button' >Publicar</button>
    
    </div>
</div>
</Form>

    
    {% for post in posts %}

    {% include 'partials/post.html'%}

    {% endfor %}
     




    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>

    function previewImage(event) {
        var reader = new FileReader();
        reader.onload = function() {
            var output = document.getElementById('image_preview');
            output.src = reader.result;
            output.style.display = 'block';
        };
        reader.readAsDataURL(event.target.files[0]);
    }




    
    $(document).ready(function() {
        $('.read_more').click(function(){
            var read_button = $(this); 
            var text_container = $(this).prev('.text_container'); 
            text_container.css('height', 'fit-content');
            
            if (read_button.text() === 'ler mais') {
                read_button.text('ler menos');
            } else {
                read_button.text('ler mais');
                text_container.css('height', ''); 
            }
        });
    });
   $(document).ready(function() {
   

    $('.post_image').click(function(){
        var post_image = $(this)
        
        if (post_image.hasClass('post_image over_view')){
          post_image.removeClass('over_view');
       
   
        } else {
            post_image.addClass('over_view')
            
   
        }
            });

        $('.like_button').each(function() {
            var button = $(this);
            var postId = button.data('post-id');
            var liked = localStorage.getItem('liked_' + postId); 
          
            if (liked === 'true') {
                button.addClass('liked');
                button.html('Descurtir <span class="like-count">( ' + button.data('likes') + ' )</span>');
            } else {
                button.html('Curtir <span class="like-count">( ' + button.data('likes') + ' )</span>');
            }
    
            button.click(function(e) {
                e.preventDefault();
                $.ajax({
                    url: "{% url 'Vitor.net:like' 0 %}".replace('0', postId),
                    data: {
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                    success: function(response) {
                        button.find('.like-count').text(response.likes);
                        if (response.liked) {
                            button.addClass('liked');
                            button.text('Descurtir ' +'( ' + response.likes + ' )');
                            localStorage.setItem('liked_' + postId, 'true'); 
                        } else {
                            button.text('Curtir ' + '( ' + response.likes + ' )');
                            button.removeClass('liked');
                            localStorage.removeItem('liked_' + postId); 
                        }

                    }
                });
            });
        });

        $('.save_button').each(function(){
            var button = $(this);
            var postId = button.data('post-id');
            var saved = localStorage.getItem('saved_' + postId); 
            if (saved === 'true') {
                button.addClass('liked');
                button.html('Desalvar');
            } else {
                button.html('Salvar');
            }

            button.click(function(e) {
                e.preventDefault();
                $.ajax({
                    url: "{% url 'Vitor.net:save' 0 %}".replace('0', postId),
                    data: {
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                    method: 'POST',
                    success: function(response) {

                        if (response.saved) {
                            button.addClass('liked');
                            button.text('Desalvar');
                            localStorage.setItem('saved_' + postId, 'true'); 
                        } else {
                            button.text('Salvar');
                            button.removeClass('liked');
                            localStorage.removeItem('saved_' + postId); 

                        }

                    }
                });
            });
        });
        });
</script>
</body>

</html>