{% include 'partials/head.html' %}
<body>
    {% include "partials/header.html" %}
    

<div class='profile_content'>
         <div class="image_username">
             <img src="{{conta.picture.url}}" alt="" class='login_page_profile_picture'>
          <p class="username">{{conta.user.username}}</p></div>
        <div class='count_info'>
         
         <div class="title "> Email:   </div>
         <p class="email info">{{conta.user.email}}</p>
     
        <div class="title"> Primeiro nome:   </div>
            <p class="first_name info">{{conta.user.first_name}}</p>
           
           <div class="title"> Sobrenome:   </div>
            <p class="last_name info">{{conta.user.last_name}}</p>
           </div>
           
</div>

   
</div>

<div class="profile_page_options">
<div class='post_title selected'>Posts</div>
<div class='post_title'>Curtidas</div>
<div class='post_title'>Salvos</div>
</div>
<div class='selected_posts'>
{% for post in posts %}
   <div>
  {% include 'partials/post.html'%}
</div>
{% endfor %}
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(function(){
     $('.post_title').click(function() {
        $('.post_title').removeClass('selected');
        $(this).addClass('selected');

        var content = $('.selected_posts');
        var selected = $(this).text()

        if (selected === 'Posts') {
          content.html(`
              {% for post in posts %}
                  <div>
                      {% include 'partials/post.html' %}
                  </div>
              {% endfor %}
          `);
      } else if (selected === 'Curtidas') {
        content.html(`
        {% for post in likes %}
            <div>
                {% include 'partials/post.html' %}
            </div>
        {% endfor %}
    `);
      } else if (selected === 'Salvos') {
        content.html(`
        {% for post in saves %}
            <div>
                {% include 'partials/post.html' %}
            </div>
        {% endfor %}
    `);
      }


     })


  })





</script>
</body>

